@model NabcoPortal.ViewModel.ItemViewModel
           
<div class="modal-header">
    <h3>Item Model: @Model.ModelNo</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-5">
            Model No: <strong>@Model.ModelNo</strong>
        </div>
        <div class="col-md-5">
            Finishing Code: <strong>@Model.FinishingCode</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            Model Name: <strong>@Model.Name</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            Description: <strong>@Model.Description</strong>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-5">
            <p>Order Qty: @Model.ItemStatusInfo.OrderQty</p>
            <p>R.S Qty: @Model.ItemStatusInfo.ReadyForShippingQty</p>
            <p>W.W Qty: @Model.ItemStatusInfo.WoodWorkingQty</p>
            <p>Curving Qty: @Model.ItemStatusInfo.WoodWorkingQty</p>
        </div>
        <div class="col-md-5">
            <p>Assemble Qty: @Model.ItemStatusInfo.AssemblyQty</p>
            <p>Finishing Qty: @Model.ItemStatusInfo.FinishingQty</p>
            <p>Shipped Qty: @Model.ItemStatusInfo.ShippedQty</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    
</div>

