@model IEnumerable<NabcoPortal.ViewModel.ItemViewModel>

<div ng-controller="ItemDialogController as $ctrl" class="modal-demo">
    <div class="page-header">
        <h1>Items Master File</h1>
        <button id="btnAddItem" class="btn btn-default" ng-click="$ctrl.open('@Url.Action("Create")')">Add Item</button>
    </div>

    <div class="panel">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Model No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit of Measure</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ModelNo</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.UOM</td>
                        <td>
                            <button class="btn btn-muted"
                                    ng-click="$ctrl.open('@Url.Action("Edit", new {id = @item.Id})')">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-muted"
                                    ng-click="$ctrl.openDetail('@Url.Action("Detail", new {id = @item.Id})')">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    }

            </table>
        </div>
    </div>

    <!--modal form placeholder-->
    <div id="itemDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>
    <!--end modal form placeholder-->
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/item.controller.js")"></script>
}